.container {
    border: 1px solid black;
    padding: 50px;
    margin: 20px 50px;
    background-color: white;
}

body {
    background-color: sandybrown;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 196, 0);
}

li {
  float: left;
  border-right: 1px solid rgb(255, 255, 255);
}

/* li:last-child {
    border-right: none;
} */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

li a:hover:not(.active) {
  background-color: rgb(255, 140, 0);
}

.active {
  background-color: #e10606;
}


 