body {
    background-color: lightgray;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    float: left;
    border-right: 1px solid gray;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: large;
}

ul.nav li a:hover:not(.active) {
    background-color: rgb(138, 36, 36);
}

.active {
    background-color: #c4741a;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto 25%;
}

.grid-item {
    background-color: gray;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: 30px;
}

.main2 {
    grid-column: 1 / span 2;
    grid-row: 5;
    font-size: 30px;
}

.sup1 {
    grid-column: 1;
    grid-row: 4;
    font-size: 30px;
}

.sup2 {
    grid-column: 2;
    grid-row: 4;
    font-size: 30px;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 3;
    background-color: gray;
    padding: 1%;
    margin: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}
